@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Create a new account.</h4>
            <hr />
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ProfilePictureFile"></label>
                <input asp-for="Input.ProfilePictureFile" class="form-control" type="file" />
                <span asp-validation-for="Input.ProfilePictureFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CountryId"></label>
                <br />
                <select id="CountryId" asp-for="Input.CountryId" class="form-control">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="Input.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>State</label>
                <br />
                <select id="StateId" asp-for="Input.StateId" class="form-control">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="Input.StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>City</label>
                <br />
                <select id="CityId" asp-for="Input.CityId" class="form-control">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="Input.CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address1"></label>
                <input asp-for="Input.Address1" class="form-control">
                <span asp-validation-for="Input.Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address2"></label>
                <input asp-for="Input.Address2" class="form-control">
                <span asp-validation-for="Input.Address2" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $.ajax({
                url: '/Home/Country',
                type: 'GET',
                async: false,
                dataType: 'json',
                //contentType: 'application/json',
                error: function (xhr) {
                    alert('Error: ' + xhr);
                },
                success: function (result) {

                    $.each(result, function (data, value) {
                        $("#CountryId").append($("<option></option>").val(value.value).html(value.text));
                    })
                },

            });


            $("#CountryId").on("change", function () {
                $("#StateId").empty();
                $("#CityId").empty();
                $.ajax({
                    url: '/Home/GetStatesByCountryId',
                    type: 'GET',
                    async: true,
                    data: {
                        CountryId: $(this).val()
                    },
                    dataType: 'json',
                    //contentType: 'application/json',
                    error: function (xhr) {
                        alert('Error: ' + xhr);
                    },
                    success: function (result) {

                        //alert(result);
                        $("#StateId").append($("<option>" + "Select State" +"</option>"));
                        $.each(result, function (data, value) {
                            //debugger;
                            //alert(value);
                            $("#StateId").append($("<option></option>").val(value.value).html(value.text));
                        })
                    },

                });
            });
            $("#StateId").on("change", function () {
                $("#CityId").empty();
                $.ajax({
                    url: '/Home/GetCitiesByStateId',
                    type: 'GET',
                    async: false,
                    data: {
                        StateId: $(this).val()
                    },
                    dataType: 'json',
                    //contentType: 'application/json',
                    error: function (xhr) {
                        alert('Error: ' + xhr);
                    },
                    success: function (result) {
                        $("#CityId").append($("<option>" + "Select City" + "</option>"));
                        $.each(result, function (data, value) {
                            $("#CityId").append($("<option></option>").val(value.value).html(value.text));
                        })
                    },

                });
            });
        });
    </script>
}
