
@{
    ViewData["Title"] = "SuccessNew";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

<h1>Order placed successfully!!</h1>
<p>Soon you will recieve an email at @User.Identity.Name including all order details.</p>
