
@{
    ViewData["Title"] = "TreeViewFinal";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TreeViewFinal</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Manage Permissions</title>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <style>
        body {
        }

        .container {
            /*margin: 150px auto;*/
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Manage Permissions</h1>

        <div class="card-header">
            <label>Select Role</label><br />
            @Html.DropDownList("RoleId", (IEnumerable<SelectListItem>)ViewBag.RolesList, "Select")
            <button id="btnSave" class="btn btn-primary fa-pull-right">Save</button>
        </div>

        <div>
            <a href="https://github.com/erhanfirat/combo-tree/">Github Home Page</a>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3>Multi Selection</h3>
                <input type="text" id="justAnInputBox4" placeholder="Select" autocomplete="off" />
            </div>

            @*<div class="col-lg-6">
                    <h3>Multi Selection</h3>
                    <input type="text" id="justAnInputBox" placeholder="Select" autocomplete="off" />
                </div>

                <div class="col-lg-6">
                    <h3>Multi Selection With Cascade Option Select</h3>
                    <input type="text" id="justAnInputBox1" placeholder="Select" autocomplete="off" />
                </div>


                <div class="col-lg-6">
                    <h3>Single Selection</h3>
                    <input type="text" id="justAnotherInputBox" placeholder="Type to filter" autocomplete="off" />
                </div>*@

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/js/comboTreePlugin.js"></script>

    <script type="text/javascript">

         debugger;
        var comboTrees;
        var myData1 =@Html.Raw(ViewBag.Json);
        var menuPermission = '@Html.Raw(ViewBag.Per)';

         var perArray = [];
            $("#RoleId").on("change", function () {
                var selectedId = $(this).val();
                window.location.href = '@Url.Action("TreeViewFinal", "Permission")' + '?RoleId=' + selectedId;
            });

            if (menuPermission !== undefined) {
                menuPermission = menuPermission.trim();
            }
            if (menuPermission !== '') {
                perArray = menuPermission.split(',');
            }
        for (var i = 0; i < perArray.length; i++) {
            perArray[i] = perArray[i].toString();
        }


        if (perArray.length > 0) {
            console.log(perArray)
            window.comboTrees = $('#justAnInputBox4').comboTree({
                source: myData1,
                isMultiple: true,
                cascadeSelect: false,
                //selected: ["32","4","1010","33","1011","1005","30","1004","1003","28","9","10","5","3","11", "6"]
                selected: perArray
            });
        }
        else {
            window.comboTrees = $('#justAnInputBox4').comboTree({
                source: myData1,
                isMultiple: true,
                cascadeSelect: false

            });
        }
        $("#btnSave").on('click', function (e) {
            debugger;
            var RoleId = $('#RoleId').val();

            var arr = [];
            $('input[type=checkbox]:checked').each(function () {
                var selectedIds = $(this).parents('span').attr('data-id');
                requestData = {
                    MenuId: selectedIds,
                    RoleId: RoleId
                }
                arr.push(requestData);
            });


            $.ajax({
                url: '/Permission/UpdatePermission',
                type: 'POST',
                data: JSON.stringify(arr),
                dataType: 'json',
                contentType: 'application/json',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    alert(result);
                },
            });

        });


    </script>

</body>
</html>
            @*//var selectedIds = comboTrees.getSelectedItemsId();
            //$('#justAnInputBox4').find('input[type="checkbox"]:checked').each(function () {
            //    //this is the current checkbox
            //    requestData = {
            //        MenuId: this.value,
            //        RoleId: RoleId
            //    }
            //    arr.push(requestData);
            //});
            //var instance = $('#justAnInputBox4').comboTree({
            //    source: myData1
            // });

            //instance.getSelectedNames();
            //var MenuId = instance.getSelectedId();

            //comboTree.onChange(function () {
            //    console.log(comboTree.getSelectedIds());
            //    $('#justAnInputBox4').val(comboTree.getSelectedIds());
            //    requestData = {
            //        MenuId: this.value,
            //        RoleId: RoleId
            //    }
            //    arr.push(requestData);
            //});

            //window.comboTrees=
            //$('#justAnInputBox4').comboTree({
            //    source: myData,
            //    requestData = {
            //        MenuId: comboTree.getSelectedIds(),
            //        RoleId: RoleId
            //    }
            //    arr.push(requestData);
            // });






        //var SampleJSONData = [
        //    {
        //        id: 0,
        //        title: 'Horse'
        //    }, {
        //        id: 1,
        //        title: 'Birds',
        //        isSelectable: false,
        //        subs: [
        //            {
        //                id: 10,
        //                title: 'Pigeon',
        //                isSelectable: false
        //            }, {
        //                id: 11,
        //                title: 'Parrot'
        //            }, {
        //                id: 12,
        //                title: 'Owl'
        //            }, {
        //                id: 13,
        //                title: 'Falcon'
        //            }
        //        ]
        //    }, {
        //        id: 2,
        //        title: 'Rabbit'
        //    }, {
        //        id: 3,
        //        title: 'Fox'
        //    }, {
        //        id: 5,
        //        title: 'Cats',
        //        subs: [
        //            {
        //                id: 50,
        //                title: 'Kitty'
        //            }, {
        //                id: 51,
        //                title: 'Bigs',
        //                subs: [
        //                    {
        //                        id: 510,
        //                        title: 'Cheetah'
        //                    }, {
        //                        id: 511,
        //                        title: 'Jaguar'
        //                    }, {
        //                        id: 512,
        //                        title: 'Leopard'
        //                    }
        //                ]
        //            }
        //        ]
        //    }, {
        //        id: 6,
        //        title: 'Fish'
        //    }
        //];
        //var SampleJSONData2 = [
        //    {
        //        id: 1,
        //        title: 'Four Wheels',
        //        subs: [
        //            {
        //                id: 10,
        //                title: 'Car'
        //            }, {
        //                id: 11,
        //                title: 'Truck'
        //            }, {
        //                id: 12,
        //                title: 'Transporter'
        //            }, {
        //                id: 13,
        //                title: 'Dozer'
        //            }
        //        ]
        //    }, {
        //        id: 2,
        //        title: 'Two Wheels',
        //        subs: [
        //            {
        //                id: 20,
        //                title: 'Cycle'
        //            }, {
        //                id: 21,
        //                title: 'Motorbike'
        //            }, {
        //                id: 22,
        //                title: 'Scooter'
        //            }
        //        ]
        //    }, {
        //        id: 2,
        //        title: 'Van'
        //    }, {
        //        id: 3,
        //        title: 'Bus'
        //    }
        //];


        //var comboTree1, comboTree2;

        //jQuery(document).ready(function ($) {

        //    comboTree1 = $('#justAnInputBox').comboTree({
        //        source: SampleJSONData,
        //        isMultiple: true,
        //        cascadeSelect: false,
        //        collapse: true,
        //        selectableLastNode: true

        //    });

        //    comboTree1.setSelection([50, 51]);

        //    comboTree3 = $('#justAnInputBox1').comboTree({
        //        source: SampleJSONData,
        //        isMultiple: true,
        //        cascadeSelect: true,
        //        collapse: false
        //    });

        //    comboTree3.setSource(SampleJSONData2);
        //    comboTree3.setSelection([11, 12]);


        //    comboTree2 = $('#justAnotherInputBox').comboTree({
        //        source: SampleJSONData,
        //        isMultiple: false
        //    });
        //});*@

